.cartContent__wrapper {
	position: absolute;
	top: 15%;
	width: 100%;
	min-height: 700px;
    justify-content: center;
    align-items: center;
}
.cartContent__header {
	width: 100%;
}
.cartIcon {
	width: 100px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 40%;
}
.headerTitle {
	position: absolute;
	left: 48%;
	top: 28px;
	font-size: 25px;
	font-weight: bolder;
	cursor: default;
}
.deleteBlock {
	position: absolute;
	right: 10%;
	top: 30px;
	width: 190px;
	opacity: 0.3;
	font-family: "Roboto"
}
.deleteBlock:hover {
	opacity: 1;
	cursor: pointer;
}
.deleteBlock__icon {
	width: 40px;
	height: 25px;
}
.deleteBlock__title {
	position: relative;
	bottom: 5px;
}
.cartProducts {
	width: 70%;
	position: absolute;
	padding: 15px 0;
	top: 25%;
	right: 15%;
}
.cartConfirm {
	margin: 50px 0;
	width: 100%;
	position: relative;
	top: 60px;
	left: 35%;
}
.totalPrice {
	text-align: left;
	font-weight: bold;
	cursor: default;
}
.totalPriceValue {
	margin-left: 20px;
}
.confirmButton {
	border: 1px solid grey;
	border-radius: 35px;
	min-width: 120px;
	min-height: 35px;
	font-family: "Raleway";
	text-transform: uppercase;
	color: white;
	background-color: #1a75ff;
	text-decoration: none;
	margin-left: 50px;
	cursor: pointer;
}
.confirmButton:focus {
	outline: none;
}