.cartContent__wrapper {
	position: absolute;
	top: 15%;
	/*left: 24.9%;*/
	border: 1px solid grey;
	width: 100%;
	height: 700px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.cartIcon {
	width: 100px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 40%;
}
.headerTitle {
	position: absolute;
	/*left: 48%;*/
	top: 28px;
	font-size: 25px;
	font-weight: bolder;
	cursor: default;
}
.deleteBlock {
	position: absolute;
	right: 10%;
	top: 30px;
	width: 190px;
	opacity: 0.3;
	font-family: "Roboto"
}
.deleteBlock:hover {
	opacity: 1;
	cursor: pointer;
}
.deleteBlock__icon {
	width: 40px;
	height: 25px;
}
.deleteBlock__title {
	position: relative;
	bottom: 5px;
}