.content {
	position: absolute;
	top: 195%;
	font-family: "Roboto";
	width: 1000px;
	right: 0;
	height: 800px;
}
.content__paginationBlock {
	display: block;
	position: relative;
	margin-right: 0;
	bottom: 130px;
	height: 140px;
	width: 700px;
}
.content__paginationItems {
	position: relative;
	top: 80%;
	left: 69%;
}
.pageNum {
	margin-right: 15px;
	cursor: pointer;
}
.activePage {
	text-decoration: underline;
	font-weight: bolder;
	font-size: 18px;
}
.content__main {
    display: grid;
    grid-template-columns: 400px 350px;
    grid-template-rows: 400px;
    padding-bottom: 50px;
    position: absolute;
    top: 40px;
    left: 150px;
}