.login__wrapper {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background-color: #f2f2f2;
  width: 50%;
  border-radius: 35px;
  padding-bottom: 20px;
}
.backToHomeFromLogin {
	border: 1px solid grey;
	border-radius: 35px;
	min-width: 120px;
	min-height: 35px;
	font-family: "Raleway";
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	left: -40%;
	cursor: pointer;
	background-color: white;
}
.backToHomeFromLogin:active {
	outline: none;
}
.backToHomeFromLogin:hover {
	box-shadow: 0 0 5px grey;
}