.header__wrapper {
	background-color: #f2f2f2;
}
.header__logoImg {
	width: 145px;
	height: 105px;
	margin-left: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline;
}
.header__logoImg:hover {
	cursor: pointer;
}

.header__items {
	list-style: none;
	position: absolute;
	top: 30px;
	right: 0;
}
.header__itemsLi {
	display: inline;
	padding-right: 5px;
}
.header__itemsLi > .header__itemsLi__buttons {
	border: 1px solid grey;
	border-radius: 35px;
	width: 120px;
	min-height: 35px;
	font-family: "Roboto";
	text-transform: uppercase;
	color: white;
	background-color: #1a75ff;
	padding-bottom: 5px;
	text-decoration: none;
}
a.navLinkCart {
	text-decoration: none;
	color: inherit;
}
.header__itemsLi__buttons:focus,active {
	outline: none;

}
.header__itemsLi__buttons:hover {
	background-color: #b3d1ff;
	transition: background-color 0.25s ease-in-out;
	cursor: pointer;
}
.header__itemsLi__buttons__icons {
	width: 22px;
	height: 17px;
	position: relative;
	top: 3.5px;
	margin-left: 5px;
}