.sort {
	position: absolute;
	right: 0px;
	margin-top: 7px;
	cursor: default;
	font-size: 14px;
	height: 100px;
	width: 120px;
}
.activeSort {
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 5px;
}
.doubleUpIcon {
	position: relative;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	display: inline;
}
.doubleUpIconRotated {
	transform: rotate(180deg);
}
.sortList {
	position: absolute;
	right: -5px;
	top: 30px;
	border: 1px solid #1a75ff;
	padding: 10px 10px;
	box-shadow: 0px 0px 15px grey;
	min-width: 120px;
	
}
.sortItem {
	padding: 5px 5px;
}
.sortItem:hover {
	text-decoration: underline;
}
.sortList:hover {
	cursor: pointer;
}