.cartContent__wrapper {
	position: absolute;
	top: 15%;
	width: 100%;
	min-height: 700px;
    justify-content: center;
    align-items: center;
}
.cartContent__header {
	width: 100%;
}
.cartIcon {
	width: 100px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 40%;
}
.backToHome {
	border: 1px solid grey;
	border-radius: 35px;
	min-width: 120px;
	min-height: 35px;
	font-family: "Raleway";
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	left: 9%;
	top: 4.5%;
	cursor: pointer;
	background-color: white;
}
.backToHome:active {
	outline: none;
}
.backToHome:hover {
	box-shadow: 0 0 5px grey;
}
.headerTitle {
	position: absolute;
	left: 48%;
	top: 28px;
	font-size: 25px;
	font-weight: bolder;
	cursor: default;
}
.deleteBlock {
	position: absolute;
	right: 10%;
	top: 30px;
	width: 190px;
	opacity: 0.3;
	font-family: "Raleway"
}
.deleteBlock:hover {
	opacity: 1;
	cursor: pointer;
}
.deleteBlock__icon {
	width: 40px;
	height: 25px;
}
.deleteBlock__title {
	position: relative;
	bottom: 5px;
}
.cartProducts {
	width: 70%;
	position: absolute;
	padding: 15px 0;
	top: 25%;
	right: 15%;
}
.cartConfirm {
	margin: 50px 0;
	position: absolute;
	top: 60px;
	left: 32%;
}
.totalPrice {
	text-align: left;
	font-weight: bold;
	cursor: default;
}
.totalPriceValue {
	margin-left: 20px;
}
.confirmButton {
	border: 1px solid grey;
	border-radius: 35px;
	min-width: 120px;
	min-height: 35px;
	font-family: "Raleway";
	text-transform: uppercase;
	color: white;
	background-color: #1a75ff;
	text-decoration: none;
	margin-left: 50px;
	cursor: pointer;
	position: fixed;
	left: 53%;
	top: 24.7%;
}
.confirmButton:focus {
	outline: none;
}
.confirmButton:hover {
	background-color: white;
	color: black;
}
.emptyCartBlock {
	position: absolute;
	left: 20%;
}
.emptyCartBlockTitle {
	font-weight: bold;
	font-family: "Raleway";
	position: absolute;
	left: 100%;
	bottom: 45%;
	width: 100%;
}
.confirmButton:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}